body {
  background-image: url('./images/image1.webp');
  background-size: cover;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0); /* Start position: no vertical translation */
  }
  50% {
    transform: translateY(-20px); /* Middle position: move up 20px */
  }
  100% {
    transform: translateY(0); /* End position: back to original position */
  }
}

h1 {
  color: #ffffff;
  margin-top: 30px;
  animation: moveUpDown 5s ease-in-out infinite; 
}


@keyframes slideFromTop {
  from {
    transform: translateY(-20%); /* Start above the viewport */
  }
  to {
    transform: translateY(0); /* Slide down to original position */
  }
}

form {
  background-color: #fffefeda;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
  border: 3px solid rgb(17, 5, 240);
  animation: slideFromTop 1s ease-in-out, fadeIn 1s ease-in-out; /* Apply slideFromTop and fadeIn animations */
  opacity: 1; /* Set opacity to 1 to keep it visible */
  transition: opacity 1s ease-in-out; /* Add opacity transition */
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    opacity: 1; /* Fade in to full opacity */
  }
}

h3 {
  color: #050505;
}

label {
  display: block;
  margin-top: 10px;
  color: #000000;
}

input[type="text"],
input[type="email"] {
  width: 80%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #272de5;
  border-radius: 3px;
}

button[type="submit"] {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 15px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

a {
  color: #007BFF;
  text-decoration: none;
  display: block;
  margin-top: 15px;
}
